body{
  background: linear-gradient(to bottom, #af2831, #333333); /* Black gradient background */
  color: #c2bd22; /* Red button text color */
  font-size: 16px; /* Initial font size */
  padding: 10px 20px; /* Initial padding */
   
}



.button-container {
  text-align: center;
  margin-top: 20px;
}

.clicked {
  position: relative;
  left: 50px; /* Adjust the desired new position */
}

button {
  background: linear-gradient(to bottom, #000000, #333333); /* Black gradient background */
  color: #ff0000; /* Red button text color */
  font-size: 16px; /* Initial font size */
  padding: 10px 20px; /* Initial padding */
  border: none;
  cursor: pointer;
  transition: font-size 0.5s, padding 0.5s; /* Add transition for font size and padding */
}

button:hover {
  font-size: 20px; /* Increase font size on hover */
  padding: 12px 24px; /* Increase padding on hover */
}
